/*
* @Author: liulp1
* @Date:   2017-07-12 13:03:59
* @Last Modified by:   liulp1
* @Last Modified time: 2017-07-12 13:19:51
*/
.nav{
	background: #eee;
	height: 30px;
	line-height: 30px;
}
/*用户部分*/
.nav .user{
	float: left;
}
.nav .user.login{
	display: none;
}
.nav .user .link{
	margin-right: 5px;
}
/*导航链接部分*/
.nav .nav-list{
	float: right;
}
.nav .nav-list .nav-item{
	display: inline-block;
	margin-left: 5px;
}