/*
* @Author: liulp1
* @Date:   2017-07-12 10:43:52
* @Last Modified by:   liulp1
* @Last Modified time: 2017-07-15 16:37:33
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}
.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
	text-decoration: none;
}